.container {
	width:80%;
	margin:0 auto;
	color:#FFF;
}

.profilePicture {
	
}

.headline {
	color:#FFF;
	font-family:sans-serif;
}

.videoContainer {
	display:flex;
	align-items:center;
	justify-content:center;
}

.video {
	width:100%;
	
	display:flex;
	align-items:center;
	justify-content:center;

}

.coachBio {
	display:flex;
	flex-direction:columns;
}

.coachProfilePicture, .coachBiography {
	flex-basis:50%;
	overflow:hidden;
}

.coachBioSubject {
	margin-bottom:1em;
}

.coachBiography {
	margin-left: 2em;
	margin-right:2em;
}

.profilePicture {
	max-width:100%;
}

.headlineContainer {
	min-height:30vh;
	
	display:flex;
	align-items:center;
	justify-content:center;
}

.biographyContainer {
	margin-top:1em;
	min-height: 75vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

.signupButton {
	background-color:#FFF;
	color:#000;
	
	text-decoration:none;
	
	padding:1em;
	border-radius:0.25em;
	
	font-size: 2vh;
	font-weight:800;
	
}


.getStartedContainer {
	min-height: 35vh;
	
	display:flex;
	align-items:center;
	justify-content:center;
	
	flex-direction:column;
	
	text-align:center;
}

.signupContainer {
	display:flex;
	align-items:center;
	justify-content:center;
}

.getStartedSubject {
	margin-bottom:1em;
}

/* Typograph */

.headline {
	font-size: 8vh;
	font-weight:800;	
}

.coachBioSubject, .getStartedSubject {
	font-size: 3.8vh;
	font-weight:800;
}

.getStartedContent, .coachBioCopy {	
	font-size: 2.5vh;
}

