.container {
	margin:0 auto;
	color:#FFF;
}

.profilePicture {
	
}

.headline {
	color:#FFF;
}

.videoContainer {
	display:flex;
	align-items:center;
	justify-content:center;
}

.video {
	width:100%;
	
	display:flex;
	align-items:center;
	justify-content:center;

}

.coachBio {
	display:flex;
}

.coachProfilePicture, .coachBiography {
	flex-basis:50%;
	overflow:hidden;
}

.coachBioSubject {
	margin-bottom:1em;
}

.coachBiography {
	margin-left: 2em;
	margin-right:2em;
}

.profilePicture {
	max-width:100%;
}

.headlineContainer {	
	display:flex;
	align-items:center;
	justify-content:center;
}

.biographyContainer {
	margin-top:1em;
	
	display:flex;
	align-items:center;
	justify-content:center;
}

.signupButton {
	background-color:#FFF;
	color:#000;
	
	text-decoration:none;
	
	padding:1em;
	border-radius:0.25em;
	
	font-size: 2vh;
	font-weight:800;
	
}


.getStartedContainer {	
	display:flex;
	align-items:center;
	justify-content:center;		
	text-align:center;
}

.signupContainer {
	display:flex;
	align-items:center;
	justify-content:center;
}

.getStartedSubject {
	margin-bottom:1em;
}

/* Typograph */




@media only screen and (min-device-width: 1024px) {
	.container {
		width:80%;		
	}
	
	
	.headlineContainer, .videoContainer, .getStartedContainer, .biographyContainer {
		padding-top:2h;
		padding-bottom:2vh;
	}
	
	.getStartedContainer, .biographyContainer{
		flex-direction: column;
	}
	
	.headline {
		font-size: 6vh;
		font-weight:800;	
	}

	.coachBioSubject, .getStartedSubject {
		font-size: 3.8vw;
		font-weight:800;
	}

	.getStartedContent, .coachBioCopy {	
		font-size: 2.5vh;
	}
	
}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
	.container {
		width:98%;		
	}
	
	.headlineContainer, .videoContainer, .getStartedContainer, .biographyContainer {
		padding-top:2vh;
		padding-bottom:2vh;
		margin-top:2vh;
		margin-bottom:2vh;
	}
	
	.getStartedContainer, .biographyContainer {
		flex-direction: column;
	}
	
	.headline {
		font-size: 7vw;
		font-weight:800;	
	}

	.coachBioSubject, .getStartedSubject {
		font-size: 7vw;
		font-weight:800;
	}

	.getStartedContent, .coachBioCopy {	
		font-size: 2.5vh;
	}
	
	.coachProfilePicture {
		margin-bottom:5vh;
	}
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	.container {
		width:98%;		
	}
	
	.headlineContainer, .videoContainer, .getStartedContainer, .biographyContainer {
		padding-top:4vh;
		padding-bottom:4vh;
	}
	
	.getStartedContainer, .biographyContainer {
		flex-direction: column;
	}
	
	.headline {
		font-size: 7vw;
		font-weight:800;	
	}

	.coachBioSubject, .getStartedSubject {
		font-size: 7vw;
		font-weight:800;
	}

	.getStartedContent, .coachBioCopy {	
		font-size: 2.5vh;
	}
	
	.coachProfilePicture {
		margin-bottom:5vh;
	}
	
}


